/* Sekcja 1 - Wstęp */
section {
  scroll-margin-top: 3em;
  transition: 400ms ease;
}.about_intro {
  display: flex;
  flex-direction: row;
  padding: 3.75em 3.75em 0 3.75em;
}
.about_intro_left {
  width: 60vw;
}
.about_intro_right {
  width: 40vw;
}
.about_subheader {
  color: var(--color-1);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.125em;
}
.about_header {
  font-weight: 600;
  font-size: 3em;
  margin: 0.25em 0 0.5em 0;
}
.about_description {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.about_menu {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1em;
  background-color: var(--color-2);
  color: var(--color-8);
}
.about_menu a {
  color: var(--color-8);
  text-transform: uppercase;
  font-size: .875em;
  font-weight: 500;
}
.about_menu a:hover {
  color: var(--color-5);
  transition: 400ms ease;
}